* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: rgb(38, 35, 54);
	color: #FFF;
    text-align: center;
}
.heading-sec {
    padding: 16px 0;
}
.completed-text {
    color: aliceblue;
}
.add-todo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
}
.input-errors {
    position: absolute;
    top: 33px;
    left: 0;
    color: #f90000b8;
}
.task-details-section {
    max-width: 830px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.incompleted-section, .completed-section {
    width: 400px;
}
ul {
    padding-top: 16px;
}
ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(52, 47, 78);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

@media (max-width:767px) {
    .task-details-section {
        display: block;
    }
    .incompleted-section, .completed-section {
        width: 100%;
    }
}